/* 
    Document   : post
    Created on : 2011-7-2, 21:13:41
    Author     : hovey
    Description:
        Purpose of the stylesheet follows.
*/



#catalog {
    width: 160px;    
    border-right: #cccccc solid 1px;
    padding: 20px;
    float: left;
}

#catalog #oldlink {
    height: 40px;
}

#posts {
    padding: 20px;
    border-left: #cccccc solid 1px;
    margin-left: 200px;
}

.edit_box {
    width: 100%;
    height: 100px;
}

.new_edit_box {
    width: 100%;
    height: 200px;
}

#banner_extend {
    display: none;
}


.quick_reply_box {
    display: none;
    border-top: #cccccc solid 1px;
    margin: 10px 0px;
    padding: 10px 0px;
}

.post_box {
    position: relative;
    border: solid #cccccc 1px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.post_box_extend {
    padding: 10px 20px 10px 40px;
}

.reply_post_box {
    border-top: #cccccc solid 1px;
    margin-left: 20px;
}

.more_reply_box {
    border-top: #cccccc solid 1px;
    margin: 0px 0px 0px 20px;
    padding: 10px 0px;
    cursor: pointer;
    color: #005DA9;
}

.more_reply_box:hover {
    background-color: whiteSmoke;
    background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
    text-decoration: none;
}


.post_header {
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.post_body {
    margin: 10px 0px;
    font-size: 14px;
}

.post_content {
    word-break: break-all;
    white-space: pre-wrap;
    font-family: monospace;
}

.post_left_bar {
    position: absolute;
    width: 30px;
    left: 5px;
    top: 5px;
}


.useful_rating {
    font-size: 19px;
    color: white;
    border: 1px solid firebrick;
    background-color: firebrick;
    background-image: linear-gradient(top,tomato,firebrick);
    background-image: -webkit-linear-gradient(top,tomato,firebrick);
    background-image: -moz-linear-gradient(top,tomato,firebrick);
    background-image: -ms-linear-gradient(top,tomato,firebrick);
    background-image: -o-linear-gradient(top,tomato,firebrick);   
    text-align: center;
    cursor: default;    
}

.useful_rating_highlight {
    border: 1px solid forestgreen;
    background-color: forestgreen;
    background-image: linear-gradient(top,limegreen,forestgreen);
    background-image: -webkit-linear-gradient(top,limegreen,forestgreen);
    background-image: -moz-linear-gradient(top,limegreen,forestgreen);
    background-image: -ms-linear-gradient(top,limegreen,forestgreen);
    background-image: -o-linear-gradient(top,limegreen,forestgreen); 
}

.addition_info {
    color: grey;
    display: inline;
    font-weight: normal;
}

.catalog_title {
    font-size: 15px;
    font-weight: bold;
}

.solution_icon {
    width: 32px;
    height: 32px;
    background-image: url("../images/solution.png");
}

.clarification_icon {
    width: 32px;
    height: 32px;
    background-image: url("../images/clarification.png");
}